%H1 {
    font-size: 60px;
    line-height: 64px;
}

%H2 {
    font-size: 34px;
    line-height: 39px;
}

%H3 {
    font-size: 26px;
    line-height: 31px;
}

%BODY1 {
    font-size: 18px;
    line-height: 24px;
}

%BODY2 {
    font-size: 16px;
    line-height: 19px;
}
