%H1,
%H2,
%H3,
%BODY1,
%BODY2 {
    font-family: "Rubik";
    font-style: normal;
}

%H1,
%H2,
%H3 {
    font-weight: 700;
}

%BODY1,
%BODY2 {
    font-weight: 400;
}

%H1 {
    font-size: 144px;
    line-height: 152px;
}

%H2 {
    font-size: 48px;
    line-height: 57px;
}

%H3 {
    font-size: 36px;
    line-height: 43px;
}

%BODY1 {
    font-size: 24px;
    line-height: 28px;
}

%BODY2 {
    font-size: 18px;
    line-height: 21px;
}
