.header {
    position: relative;
    background-color: $additional-color;
    color: $dark-color;

    padding-bottom: 94px;

    h1,
    p,
    &__desc {
        position: relative;
        z-index: 1;
    }

    h1 {
        display: inline-block;
        margin-top: 170px;
        @extend %H1;
        color: $light-color;
    }

    p {
        margin-top: 24px;
        @extend %BODY1;
        max-width: 670px;
    }

    h3 {
        @extend %H3;
    }

    &__desc {
        margin-top: 120px;

        max-width: 350px;

        p {
            margin-top: 16px;
            @extend %BODY2;
        }
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 0;
        background-image: url("IMGS/head_bg.svg");
        background-size: cover;
        background-repeat: no-repeat;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: -110px;

        background-image: url("IMGS/head_nootris.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: right;

        z-index: 0;
    }
}
